global
    log /dev/log local0 info

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # generated 2022-02-15, Mozilla Guideline v5.6, HAProxy 1.5.18, OpenSSL 1.0.2k-fips, intermediate configuration
    # https://ssl-config.mozilla.org/#server=haproxy&version=1.5.18&config=intermediate&openssl=1.0.2k-fips&guideline=5.6
    # intermediate configuration
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    tune.ssl.default-dh-param 2048

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend infraportal
    # We listen on both port 80 and 443 but redirect non-ssl traffic to the HTTPS version
    bind :80
    bind :443 ssl crt /etc/haproxy/tls  

    acl ral_ip src 130.246.0.0/16
    acl www_host hdr_beg(host) -i www.
    acl path_stats path_beg /haproxy-stats
    acl ssl_request ssl_fc

    # Set headers to tell Drupal about TLS
    http-request set-header X-Forwarded-Proto https if ssl_request
    http-request set-header X-Forwarded-Port %[dst_port]

    # If a non-HTTPS connection is made, redirect to HTTPS, whatever the port
    redirect scheme https unless ssl_request
    # Canonicalise the www-version of the URL
    redirect prefix https://www.infraportal.org.uk unless www_host

    # Enable the HAProxy Stats page at /haproxy-stats from a RAL IP
    use_backend stats if ral_ip path_stats
    default_backend             drupal9-docker

backend stats
    stats enable
    stats refresh 5s
    stats uri /

backend drupal9-docker
    balance     roundrobin
    server  docker 127.0.0.1:3080 check

